<div class="col-md-4">
    <div class="item" >
        <%= image_tag user.avatar, width: '152', height: '152', class: "over"%><br>
        <div class="user-name"> 
            <%= link_to user.name, user_path(user) %>
        </div>
    </div>
</div>